// colors
$heading-color: hsl(120, 31%, 17%);
$text-color: hsl(120, 7%, 52%);
$sub-heading-color: hsl(117, 30%, 17%);
$red: hsl(12, 76%, 34%);
$footer-clr: hsl(148, 100%, 13%);

// fonts
$DM-Serif-Display: "DM Serif Display", serif;
$Manrope: "Manrope", sans-serif;
$Neucha: "Neucha", cursive;

// font-size
$fs-11: 11px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-28: 28px;
$fs-30: 30px;
$fs-36: 36px;
$fs-48: 48px;
$fs-96: 96px;
